.note-box {
  border: solid 2px #000;
  border-radius: 4px;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  margin-left: 0;
}

.note-box-active .note-attribute {
  font-weight: bold;
}

.note-box-inactive {
  cursor: pointer;
  border: dashed 2px #000;
}

.note-box-inactive .note-box-canvas {
  cursor: pointer !important;
}

.edit-partial-button, .edit-partial-button:hover {
  background-color: #fff;
}

.edit-partial-button.selected {
  background-color: #eee;
  cursor: default;
}

.slider-wrapper {
  display: table;
}

input[type="range"].duration-slider, .note-duration {
  display: table-cell;
  vertical-align: middle;
}

.note-duration {
  padding-left: 0.5em;
}